body {
  margin: 16px;
}

select {
  padding: 4px;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.hidden {
  display: none;
}

.error {
  color: red;
}

.cat-info {
  display: flex;
}

.conteiner-img {
  margin-top: 10px;
  width: 800px;
  height: 600px;
}

.conteiner-text {
  margin-top: 10px;
  width: 50%;
  padding: 10px;
}
